<!DOCTYPE html>

<html lang="en">
  <head>
    <title>GC content plot</title>
  </head>

  <body style="line-height: 2.0;">

      <h1 style="background-color: powderblue">GC_content plot</h1>
      <p style="font-size:110%;"> This program can plot GC content over a sequence where the user can define window
        size and step.</p>
      <p style="font-size:100%;"> <b>Tips</b>: If there is no line in the figure, the reason may be that the window
        size is longer than the sequence length.</p>

<!-- set a link that can download output figure on the web page -->
        <a href="data:image/png;base64, {{ plot_url }}" download="GC-plot.png" >download figure</a>
        <br /><br />

<!-- show plot of GC content on the web page -->
      <img src="data:image/png;base64, {{ plot_url }}" >


  </body>

</html>
