<!DOCTYPE html>

<html>
 <title>GC content plot</title>
 <body>
  <h1>GC_content plot</h1>
  <p>This program can plot GC content over a sequence where the user can define window
    size and step. </p>
  <p> User can input a pure nucleotide sequence or upload a fasta\fastq file.
    All nucleotide sequences in fasta\fastq file will be combined into one sequence and GC-content
    plot is result of that one sequence.</p><br />

  <form id="upload-form"  method="POST" enctype="multipart/form-data" >
    <p>Input pure nuceotide sequence in one line</p>
    <input name="seq"><br />
    <p> Or upload a fasta or fastq file with sequences </p>
      <input type="file" id="upload" name="file" />
        <p>Window size</p>
        <input type="text" name="window" />
        <p>Window step</p>
        <input type="text" name="step" /><br /><br />
        <input type="submit" />
  </form>

 </body>
</html>
