<!DOCTYPE html>

<html>
 <title>Reversed complements</title>
 <body>
  <h1>Reversed complements</h1>
  <p>This program can find reversed complements sequences of sequences in
    fasta\fastq file.</p>

  <form method="POST">
     <p>Input nuceotide sequence</p>
     <input name="seq">
     <input type="submit">
  </form>

  <form id="upload-form"  method="POST" enctype="multipart/form-data" >
  　　　<input type="file" id="upload" name="file" /> <br />
  　　　<input type="submit" value="Upload" />
  </form>

 </body>
</html>
