<!DOCTYPE html>

<html>

 <head>
   <title>Reversed complements</title>
 </head>

 <body>

    <div style="line-height: 2.0;">
      <h1 style="background-color: powderblue" >Reversed complements</h1>
      <p style="font-size:120%;">This program can find reversed complements sequence of pure sequence or sequences in
        fasta\fastq file.</p>
    </div>

    <form id="upload-form"  method="POST" enctype="multipart/form-data" >

      <div style="background-color: aliceblue;">
        <p>Input pure nuceotide sequence (eg. atcgatcg)</p>
        <input name="seq">
        <br />
        <br />
        <p> Or upload a fasta or fastq file with nucleotide sequences (Allowed file format: fasta file - fasta\fna\fa; fastq file - fastq\fq) </p>
        <input type="file" id="upload" name="file" /> <br />  <br />
        <p> <b>Tips</b>: Both of uppercase or lowercase nucleotide in the input text\file are allowed.
          <br />
      </div>

      <br />
      <input type="reset" value="Reset" style="font-size:100%;">
      <input type="submit" value="Submit" style="font-size:100%;"/> <br />
      <p>If you need change the input values, click the "Reset" button,
     the form-data will be reset to the blank.</p>

    </form>

 </body>
</html>
