<!DOCTYPE html>

<html>

 <head>
   <title>Reversed complements</title>
 </head>

 <body style="line-height: 2.0;">

   <h1 style="background-color: powderblue">Reversed complements</h1>
   <p style="font-size:110%;"> This program can find reversed complements sequence
     of pure sequence or sequences in fasta\fastq file.</p>
   <p style="font-size:100%;"> <b>Tips</b>: If there is '?' in the sequence, that means this character in the original sequence is not belong to nucleotide 'ATCG'.</p>

    <p style="background-color: aliceblue;">{{content|safe}}</p>

  </body>
</html>
