<!DOCTYPE html>

<html lang="en"> <!-- set language of web page as english -->

 <head>
    <title>Toolbox</title>
 </head>

 <body style="line-height: 2.0;">

  <h1 style="background-color: powderblue">Toolbox</h1>
  <p style="font-size:120%;">This program can do different analysis on nucleotide sequences. </p>

<!-- set different links that can contact to specific web page of different functions -->
    <div style="font-size:110%;">
      <li><a href="/GC-content"> GC-content calculation </a></li>
      <li><a href="/Length"> Length detection </a></li>
      <li><a href="/Rev_comp"> Reversed complements </a></li>
      <li><a href="/Translation"> Translation </a></li>
      <li><a href="/GC-figure"> GC content plot </a></li>
    </div>

 </body>
</html>
