<!DOCTYPE html>

<html>

  <head>
    <title>Toolbox</title>
  </head>


 <body style="line-height: 2.0;">

  <h1 style="background-color: powderblue">Toolbox</h1>
  <p style="font-size:120%;">This program can do different analysis of fasta sequence. </p>

    <div style="font-size:110%;">
      <li class="lineHeight"><a href="/GC-content"> GC-content calculation </a></li>
      <li id="lineHeight"><a href="/Length"> Length detection </a></li>
      <li><a href="/Rev_comp"> Reversed complements </a></li>
      <li style="line-height: 1.8;"><a href="/Translation"> Translation </a></li>
      <li class="lineHeight"><a href="/GC-figure"> GC content plot </a></li>
    </div>

 </body>
</html>
