<!DOCTYPE html>

<html>

  <head>
    <title>Translation</title>
  </head>

  <body style="line-height: 2.0;">

    <h1 style="background-color: powderblue">Translation</h1>
    <p style="font-size:110%;"> This program can translate nucleotide sequences in fasta\fastq
      file to amino acid sequence.</p>
    <p style="font-size:100%;"> <b>Tips</b>: This translation will start from the first nucleotide in sequence.
      If sequence length is not a multiple of three, the nucleotides that
      cannot form a codon at the end of the sequence will be discarded. If
      a combination of three nucleotides is not a codon, this will appear as '-'.
      Stop codons appear as '*' </p>

      <a href="{{ url_for('static', filename='translation.fasta') }}" download="translation.fasta" >download file</a>
      <br /><br />

    <p style="background-color: aliceblue;">{{content|safe}}</p>

   </body>

</html>
