<!DOCTYPE html>

<html>
 <title>Reversed complements </title>
 <body>
   <h1>Translation</h1>
   <p>This program can translate nucleotide sequences in fasta\fastq
     file to amino acid sequence.</p>
   <p>This translation will start from the first nucleotide in sequence.
     If sequence length is not a multiple of three, the nucleotides that
     cannot form a codon at the end of the sequence will be discarded. If
     a combination of three nucleotides is not a codon, this will appear as '-'.
     Stop codons appear as '*' </p>
<p> Following part is translated sequences of fasta\fastq file:</p>

  <p>{{content|safe}}</p>
 </body>
</html>
